{% load ionicon %}
{% load static %}

<section id="now-playing" class="pl-4 pt-3">
  <h1>Now Playing</h1>
  <div>
    <p class="font-semibold">{{on_air.name}}</p>
    <p class="text-blue-500 italic text-sm">{{on_air.dj}}</p>
  </div>
</section>

<section id="make-request" class="pl-4">
  <h1>Make a request</h1>
  <div class="halves p-2">
    <div class="half text-center text-sm border-r border-black">
      <p class="flex justify-center mb-1">{% ionicon name="call-outline" %}</p>
      <p>(734) <span>76</span>3<span>-</span><span>35</span><span>00</span></p>
    </div>
    <div class="half text-center text-sm">
      <p class="flex justify-center mb-1">{% ionicon name="chatbox-outline" %}</p>
      <p>radio<span>@</span>wcbn<span>.</span>org</p>
    </div>
  </div>
</section>


<section id="quick-links" class="pl-4">
  <h1>Quick Links</h1>
  <div>
    <ul class="ml-2">
    {% for text, url in RESOURCE_LINKS.items %}
      <li>- <a class="generic-link" href="{{url}}" target="_blank" rel="noopener noreferrer">{{text}}</a></li>
    {% endfor %}
    </ul>
    
  </div>
</section>

<section id="wcbn-twitter-widget" class="pl-4">
  <div style="height: 500px">
    <a class="twitter-timeline" data-height="500" data-chrome="transparent" data-dnt="true" href="https://twitter.com/WCBN_FM" target="_blank" rel="noopener noreferrer"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> 
</section>

<section id="app-store-badges">
  <h1>Download our mobile app</h1>
  <div>
    {% comment %} <a target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=org.wcbn&hl=en_US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
      <img alt='Get it on Google Play' src="{% static 'img/badges/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' %}"/>
    </a> {% endcomment %}
    <a target="_blank" rel="noopener noreferrer" href="{{IOS_URL}}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2013-02-15&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
    <a target="_blank" rel="noopener noreferrer" href="{{ANDROID_URL}}">
      <img alt='Get it on Google Play' src="{% static 'img/badges/google-play-badge.png' %}"/>
    </a>
  </div>
</section>
