{% load ionicon %}
<aside style="min-width: 20rem; border-left: 1px solid black;">

  <section id="now-playing">
    <h1>Now Playing</h1>
    <div>
      <p class="font-semibold">{{on_air.name}}</p>
      <p class="text-blue-500 italic text-sm">{{on_air.dj}}</p>
    </div>
  </section>

  <section id="make-request">
    <h1>Make a request</h1>
    <div class="halves p-2">
      <div class="half text-center text-sm border-r border-black">
        <p class="flex justify-center mb-1">{% ionicon name="call-outline" %}</p>
        <p>(734) <span>76</span>3<span>-</span><span>35</span><span>00</p>
      </div>
      <div class="half text-center text-sm">
        <p class="flex justify-center mb-1">{% ionicon name="chatbox-outline" %}</p>
        <p>radio<span>@</span>wcbn<span>.</span>org</p>
      </div>
    </div>
  </section>


  <section id="quick-links">
    <h1>Quick Links</h1>
    <div>
      <ul class="ml-2">
      {% for text, url in RESOURCE_LINKS.items %}
        <li>- <a class="generic-link" href="{{url}}" target="_blank" rel="noopener noreferrer">{{text}}</a></li>
      {% endfor %}
      </ul>
      
    </div>
  </section>

  <section id="wcbn-twitter-widget">
    <div style="height: 500px">
      <a class="twitter-timeline" data-height="500" data-chrome="transparent" data-dnt="true" href="https://twitter.com/WCBN_FM" target="_blank" rel="noopener noreferrer"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> 
  </section>

</aside>

