{% extends "layouts/application.html" %}
{% block content %}
<div class="max-w-xs m-auto">

<h1 class="heading mb-3 text-center">Password Reset{% if not validlink %} Failed{% endif %}</h1>

{% if validlink %}
<p class="mb-2">Please enter and confirm a new password.</p>

<form class="generic-form" method="post"> {% csrf_token %}
  {{ form.new_password1.errors }}
  <p>
    <label for="id_new_password1">New password:</label>
    {{ form.new_password1 }}
  </p>

  {{ form.new_password2.errors }}
  <p>
    <label for="id_new_password2">Confirm password:</label>
    {{ form.new_password2 }}
  </p>
      
  <input class="w-full" type="submit" value="Change password" />
</form>

{% else %}

<p class="text-center">
  The password reset link was invalid, possibly because it has already been used. Please 
  <a class="generic-link" href="{% url 'password_reset' %}">request a new password reset</a>.
</p>
{% endif %}

</div>
{% endblock %}