{% extends "layouts/application.html" %}

{% block content %}
<div class="max-w-xs m-auto">

<h1 class="text-2xl mb-3 text-center">Password Reset Email Sent</h1>
<hr class="mb-4">
<p class="text-sm text-center">
  We've emailed you instructions for resetting your password. If they haven't arrived in a few minutes, please check your spam folder.
</p>

<div class="mt-6 flex justify-center align-middle">
  <p>
  <a class="generic-link" href="{% url 'login' %}">Log in</a> · 
  <a class="generic-link" href="{% url 'password_reset' %}">Try again</a>
  </p>
</div>

</div>
{% endblock %}