{% load ionicon %}

{% if campus_events|length > 0%}
<section id="happening_at_michigan">
  <h1>Happening on campus</h1>

  <table>
    {% for e in campus_events %}
    <tr>
      <td>
        {% ifchanged e.day %}
        <div>
          <p>{{e.month}}</p>
          <p>{{e.day}}</p>
        </div>
        {% endifchanged %}
      </td>
      <td>
        <a href="{{e.url}}" target="_blank" rel="noopener noreferrer"><p>{{e.title}}</p></a>
        <p>{{e.time|time}}{% if e.location %}, {{e.location|safe}}{% endif %}</p>
      </td>
    </tr>
    {% endfor %}
  </table>

</section>
{% endif %}
