{% load format_event_time %} 
<div id="event-list">
  <h1 class="heading">{{title}}</h1>
  {% for o in object_list %}
  {% ifchanged o.start_date %}
  <h2>{{o.start_date|date:"l, N jS"}}</h2>  
  <hr>
  {% endifchanged %}
  <div class="event-listing">
    <h3>{{o.title}}</h3>
    {% with o|format_event_time as formatted_time %}
      {% if formatted_time and o.location_name %}
        <p>{{formatted_time}} at {{o.location_name}}</p>
      {% elif formatted_time %}
        <p>{{formatted_time}}</p>
      {% elif o.location_name %}
        <p>At: {{o.location_name}}</p>
      {% endif %}
    {% endwith %}
    <div class="event-body">
      {% if o.featured_image %}
      <img src="{{o.featured_image.url}}" />
      {% endif %}
      <div>{{o.summary|safe}}</div>
    </div>
  </div>
  {% endfor %}


  {% if page_obj.paginator.num_pages > 1 %}
  <div class="pagination">

    {% if page_obj.has_previous %}
      <span><a class="generic-link" href="?page=1">&laquo; First</a></span>
      <span><a class="generic-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    {% endif %}

      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <span><a class="generic-link" href="?page={{ page_obj.next_page_number }}">Next</a></span>
      <span><a class="generic-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></span>
    {% endif %}
   
  </div>
  {% endif %}
</div>
