/* purgecss start ignore */
@tailwind base;
@tailwind components;
@import './about.css';
@import './article.css';
@import './events.css';
@import './forms.css';
@import './happening-at-michigan.css';
@import './header.css';
@import './header_lg.css';
@import './homepage.css';
@import './main-with-aside.css';
@import './messages.css';
@import './pagination.css';
@import './player.css';
@import './playlist.css';
@import './footer.css';
@import './schedule.css';

html {
  @apply h-full;
}

body {
  @apply h-full flex flex-col;
}

.heading {
  @apply text-3xl font-bold;
}

.generic-link {
  @apply text-blue-500;
}
.generic-link:hover {
  @apply underline;
}

.g-recaptcha > div {
  @apply m-auto mt-2 mb-2;
}

.halves {
  @apply flex;
  .half {
    @apply flex-1;
  }
}

.flatpage-panel {
  @apply pt-2;
}

.maize-and-blue-hover {
  &:hover {
    color: #ffcb05;
    background: #00274c;

    svg * {
      stroke: #ffcb05 !important;
    }
  }
}

blockquote {
  quotes: '\201C''\201D''\2018''\2019';
  @apply flex bg-blue-100 border-l-4 border-blue-500 py-2 px-2 mx-4 font-medium;
  @screen md {
    @apply mx-12;
  }
}

blockquote:before {
  content: open-quote;
  font-family: 'initial';
  @apply mr-2 mt-4 text-blue-500 leading-4 text-5xl;
}

.medium-zoom-image.medium-zoom-image--opened {
  @apply object-contain !important;
}

.turbolinks-progress-bar {
  height: 5px;
  @apply bg-black;
}
/* purgecss end ignore */

@tailwind utilities;
