#happening_at_michigan {
  max-height: 100vh;
  @apply overflow-scroll;

  h1 {
    @apply text-2xl font-bold;
  }

  tr:hover {
    @apply bg-blue-100;
  }

  td,
  th {
    @apply align-top py-2;
  }

  td:first-child div {
    @apply text-center p-1 border border-black rounded ml-2;
    min-width: 2.5rem;

    /* month*/
    p:first-child {
      @apply text-sm font-bold;
    }
    /* day */
    p:last-child {
      @apply text-xs font-bold;
    }
  }

  td:last-child {
    @apply font-semibold pl-2 leading-tight;

    a {
      @apply text-sm leading-tight;

      &:hover {
        @apply text-blue-500 underline;
      }
    }

    > p {
      @apply text-xs italic mt-1;
    }
  }
}
