nav {
  @apply flex items-center justify-end flex-wrap px-4 m-auto;
}

#wcbn-logo-wrapper {
  @apply flex w-full py-4 justify-center;
}

#wcbn-logo img {
  @apply h-10;
}

nav #nav-options {
  @apply w-full block flex-grow;
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

nav #nav-toggle-label {
  cursor: pointer;
  padding: 14px 1rem;
  user-select: none;
  position: absolute;
  top: 1.5rem;
}

nav #nav-toggle-icon {
  @apply bg-black;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.3s ease-out;
  width: 18px;

  &:before,
  &:after {
    @apply bg-black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    width: 100%;
  }

  &:before {
    top: 5px;
  }

  &:after {
    top: -5px;
  }
}

nav #nav-toggle-input {
  display: none;

  &:checked ~ #nav-options {
    @apply max-h-screen;
  }

  &:checked ~ #nav-toggle-label #nav-toggle-icon {
    @apply bg-transparent;

    &:before {
      @apply transform -rotate-45;
    }

    &:after {
      @apply transform rotate-45;
    }

    &:before,
    &:after {
      top: 0;
    }
  }
}

nav ul li {
  @apply block text-black font-semibold border-t border-black;

  a {
    @apply block py-2 px-4 uppercase;
  }

  &:hover {
    @apply text-gray-600;
  }
}
