@screen lg {
  #wcbn-logo-wrapper {
    @apply inline-block;
    width: unset;
  }

  #wcbn-logo {
    img {
      @apply h-12 mr-4;
    }
  }

  .nav-links-wrapper {
    @apply h-20;
  }

  nav #nav-options {
    clear: none;
    float: right;
    max-height: none;
    @apply flex items-center w-auto;
  }
  nav #nav-toggle-label {
    display: none;
  }
  nav ul li {
    @apply inline-block relative z-0 text-base h-full border-none;

    a {
      @apply px-4 h-full flex items-center;
    }

    &:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 1px;
      height: 0px;
      background: black;
      content: '';
      opacity: 1;
      transition: all 0.3s;
    }

    &:hover:before {
      height: 100%;
    }
  }

  nav ul li.active {
    border-left: 1px solid black;
    @apply bg-gray-200;

    &:before {
      height: 0;
    }
    &:after {
      height: 0;
    }
  }
}
