#homepage-sidebar {
  @apply pl-4 pt-4;

  h1 {
    @apply text-2xl font-bold;
  }

  hr {
    @apply my-3;
  }
}

#now-playing {
  p:first-child {
    @apply font-semibold;
  }

  p:last-child {
    @apply text-blue-500 italic text-sm;
  }
}

#make-request {
  svg {
    @apply h-8 w-8;
  }

  > div {
    @apply flex p-2;

    div {
      @apply flex-1 text-center text-sm;
      &:first-child {
        @apply border-r border-black;
      }
    }
  }

  p:first-child {
    @apply flex justify-center mb-1;
  }
}

#quick-links {
  li {
    &:hover {
      @apply bg-blue-100 text-blue-500;
      a {
        @apply underline;
      }
    }
  }

  a {
    @apply flex justify-between items-center font-semibold p-1 w-full h-full;

    svg {
      @apply invisible h-5 w-5;
    }

    &:hover > svg {
      @apply visible;
    }
  }
}

#wcbn-twitter-widget {
  > div {
    height: 500px;
  }
}

#app-store-badges {
  div {
    @apply flex items-center justify-around;
    a {
      @apply flex-1;

      &:first-child {
        @apply pl-2;
      }
    }
  }
}
