#floyd {
  @apply m-auto px-4;
  min-height: 4rem;
  max-height: calc(4em + 2px);

  > div {
    @apply flex h-full border-t border-b border-black items-center;
  }

  > div > div {
    @apply flex h-full w-full;
    max-height: calc(4em - 2px);
  }

  > div > div > div {
    @apply flex h-full w-full items-center whitespace-no-wrap overflow-x-scroll;
    height: calc(4em - 2px);

    figure {
      @apply h-full overflow-hidden;
      height: 4rem;
      min-width: 4rem;
    }

    figure.closed {
      margin-left: -4rem;
      transition: all 1s ease-out;
    }

    figure.open {
      margin-left: 0;
      transition: all 1s ease-out;
    }

    figure img {
      max-width: 4rem;
    }
  }

  /* visually center play btn */
  button[data-playing='false'] {
    padding-left: 4px;
  }

  button {
    @apply text-4xl border-r border-black flex flex-col justify-center items-center;
    min-width: 4rem;

    &:hover {
      @apply text-white bg-black;
    }
  }

  p {
    @apply mx-3 font-semibold;
  }
}
