#floyd {
  @apply m-auto px-4;
  min-height: 2.5rem;
  max-height: 2.5rem;

  > div {
    @apply flex h-full  border-t border-b border-black items-center;
  }

  > div > div {
    @apply flex h-full w-full;
  }

  > div > div > div {
    @apply flex h-full w-full items-center whitespace-no-wrap overflow-x-scroll;

    .album-art {
      @apply h-full overflow-hidden;
      max-height: 2.5rem;
      min-width: 2.5rem;
      max-width: 2.5rem;
    }

    .album-art.closed {
      margin-left: -2.5rem;
      transition: all 1s ease-out;
    }

    .album-art.open {
      margin-left: 0;
      transition: all 1s ease-out;
    }
  }

  /* visually center play btn */
  button[data-playing='false'] {
    padding-left: 2px;
  }

  button {
    @apply w-10 text-2xl border-r border-black;
    min-width: 2.5rem;

    &:hover {
      @apply text-white bg-black;
    }
  }

  p {
    @apply mx-2 text-sm font-semibold;
  }
}
