#schedule-table-wrapper {
  @apply hidden;

  @screen md {
    @apply flex w-full;
  }

  table {
    @apply table-fixed border-separate;

    th:not(:first-child) {
      @apply p-1;
      width: 14.285%; /* 1/7 */
    }

    td:first-child {
      @apply align-top;
      p {
        @apply text-xs font-semibold -mt-3 whitespace-no-wrap text-right;
      }
    }

    td:not(:first-child) {
      @apply border p-1 align-top;

      &:hover {
        @apply bg-blue-100;
      }

      h1 {
        @apply text-sm;

        a {
          &:hover {
            @apply underline;
          }
        }
      }

      h2 {
        @apply text-xs italic;

        a {
          @apply text-blue-500;
          &:hover {
            @apply underline;
          }
        }
      }
    }
  }
}

#schedule-accordion-wrapper {
  @screen md {
    @apply hidden;
  }

  button {
    @apply font-semibold p-4 py-3 flex justify-between items-center w-full border-t border-black;
    &:hover {
      @apply bg-blue-100;
    }
  }

  .panel {
    max-height: 0;
    transition: max-height 0.2s ease-out;

    @apply text-sm py-0 px-4 overflow-hidden;

    td {
      @apply pr-4 align-top;
      &:first-child {
        @apply whitespace-no-wrap;
      }
    }

    tr:last-child {
      td {
        @apply pb-4;
      }
    }
  }

  .accordion:after {
    content: '+';
    @apply text-lg;
  }

  .active:after {
    content: '-';
  }
}

#readback-info {
  @apply flex flex-row-reverse mt-2;
  p {
    @apply text-sm text-right;
  }
}
