{% extends "layouts/application.html" %}

{% block content %}
<div id="playlist-wrapper">
  <table>
    <thead>
      <tr>
      <th>Time</th>
      <th>Artist</th>
      <th>Song Name</th>
      <th>Album</th>
      <th>Label</th>
      <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="6">
          <div class="showinfo">
            <h2>{{on_air.name}}</h2>
            <p class="with">with  <a href="{{on_air.dj_url}}">{{on_air.dj}}</a></p>
          </div>
        </td>
      </tr>
      {% for item in items %}
      <tr>
      {{item.html|safe}}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="readback-info">
  <p>View full playlist history, show info, and more<br>
  in the WCBN database, <a class="generic-link" href="{{READBACK_URL}}/playlist" target="_blank" rel="noopener noreferrer">Readback →</a>
  </p>
</div>

<script>
Array.from(document.querySelectorAll("tbody > tr"))
  .filter((tr) => tr.children.length === 6)
  .forEach((tr) => tr.classList.add("hover:bg-blue-100"));

document.querySelectorAll(".with a").forEach((a) => {
  a.setAttribute("target", "_blank");
  a.setAttribute("rel", "noopener noreferrer");
});

</script>

{% endblock %}
