{% extends "layouts/application.html" %}

{% block content %}
<div id="playlist-wrapper">
  <table>
  <thead>
    <tr>
    <th>Time</th>
    <th>Artist</th>
    <th>Name</th>
    <th>Album</th>
    <th>Label</th>
    <th>Year</th>
    </tr>
  </thead>

  {% for item in items %}
  <tr>
  {{item.html|safe}}
  </tr>
  {% endfor %}
  </table>
</div>

<div id="readback-info">
  <p>View full playlist history, show info, and more<br>
  in the WCBN database, <a class="generic-link" href="{{READBACK_URL}}/playlist">Readback →</a>
  </p>
</div>

{% endblock %}
