{% extends "layouts/application.html"%}
{% load format_showtime %}

{% block content %}

<div id="schedule-table-wrapper">
  <table>
    <thead>
      <tr>
        <th></th>
        {% for th in weekdays %}
        <th>{{th}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for tr in schedule %}
      <tr>
        <td>
          <p>{{tr.0.beginning|format_showtime}}</p>
        </td>
        {% for td in tr %}
        <td rowspan="{{td.rowspan}}">
          <h1>{{td.name}}</h1>
          <h2>{{td.with}}</h2>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="readback-info">
  <p>View past schedules, DJ bios, and more<br>
  in the WCBN database, <a class="generic-link" href="{{READBACK_URL}}/semesters">Readback →</a>
  </p>
</div>

{% endblock %}
