{% load static %}
{% with view_name=request.resolver_match.view_name %}
<header>

  <nav class="container">

    <div id="wcbn-logo-wrapper">
      <a id="wcbn-logo" href="{% url 'wcbn_core:homepage' %}">
        <img src='{% static "img/logo.png" %}' alt="WCBN Logo" />
      </a>
    </div>
  
    
    <input id="nav-toggle-input" type="checkbox" />
    <label id="nav-toggle-label" for="nav-toggle-input"><span id="nav-toggle-icon"></span></label>

    <div id="nav-options">
      
      <div class="nav-links-wrapper">
      {% for txt, href in NAV_TABS.items %}<a class="nav-link {% if view_name == href %}active{% endif %}" href="{% url href %}">{{txt}}</a>{% endfor %}
      </div>

      <div class="flex-grow"></div>

      <div class="nav-links-wrapper">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        {% for txt, href in USER_NAV_TABS.items %}<a class="nav-link {% if view_name == href %}active{% endif %}" href="{% url href %}">{{txt}}</a>{% endfor %}
        {% endif %}
      </div>

    </div>
  </nav>
</header>
{% endwith %}